DATABASE_URL=postgresql://neondb_owner:npg_fH8l2gdeAtTQ@ep-soft-surf-aoxpz4u8-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=your-long-random-secret-here
ADMIN_EMAIL=admin@rangolijwellers.com
ADMIN_PASSWORD=change-me-in-production
WHATSAPP_NUMBER=+919805837108
SHOP_PHONE=+919805837108
UPLOADTHING_TOKEN=eyJhcGlLZXkiOiJza19saXZlX2QwMmM2ZTM4MmY3MGJlYzdiZjZiYzE5ZjNhOWIzOWVhOGI0ODlhMDEzNjBlMzIzMWQyM2JlMDRkNjM1ODFlZWUiLCJhcHBJZCI6IjMybHFuOWxyMWoiLCJyZWdpb25zIjpbInNlYTEiXX0=
